.controller {
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.controller_group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1;
}

.controller_button-wrapper {
    padding: 0.5rem;
    text-align: center;
}

.disease {
    height: 100%;
    border-radius: 5px;
    width: 45%;
    background-color: #f9f8fd;
    padding: 1rem;
}

.properties {
    height: 100%;
    border-radius: 5px;
    width: 45%;
    background-color: #f9f8fd;
    padding: 1rem;
}
